# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.IceCream_Prototype.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\GEFEA SOFT\Desktop\IceCream\IceCream_Prototype\.idea\.idea.IceCream_Prototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
